<?xml version="1.0" encoding="utf-8" ?>
<resizer>
    
  <!-- Unless you (a) use Integrated mode, or (b) map all requests to ASP.NET, 
       you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 
       Optional - this is the default setting -->
  <pipeline fakeExtensions=".ashx" />
    
  <!-- localhost/resizer.debug -->
  <diagnostics enableFor="Localhost" /> <!-- AllHosts, None -->

  <!-- 
    *************************************************************
    To activate any plugin, replace "disabled" with "add"
    also check if you need to add an extended configuration
    section later down; see documentation.
    *************************************************************
  -->
  
  <plugins>
    <!-- Free bundle -->
    <!-- http://imageresizing.net/plugins/bundles/free -->
      
    <disabled name="Image404" />
    <disabled name="VirtualFolder" virtualPath="~/" physicalPath="..\Images" vpp="false"/>
    <disabled name="DropShadow" />
    <disabled name="Gradient" />
    <disabled name="FolderResizeSyntax" />
    <disabled name="ImageHandlerSyntax" />
    <disabled name="SpeedOrQuality" />
    <add name="Presets" />
    <disabled name="AutoRotate" />
    <disabled name="DefaultSettings" />
    <disabled name="IEPngFix" />
    
    <!--
    These 3 plugins are in separate assemblies due to
    their dependencies, so you need to install them manually
    * Logging
    * MvcRoutingShim
    * PdfRenderer
    -->
    
    <!-- Cloud bundle -->
    <!-- http://imageresizing.net/plugins/bundles/3 -->
    <disabled name="S3Reader"
        buckets="my-bucket-1,my-bucket-2,my-bucket-3"/>

    <disabled name="SqlReader"
        prefix="~/databaseimages/" 
        connectionString="database" 
        idType="UniqueIdentifier" 
        blobQuery="SELECT Content FROM Images WHERE ImageID=@id"
        modifiedQuery="Select ModifiedDate, CreatedDate From Images WHERE ImageID=@id" 
        existsQuery="Select COUNT(ImageID) From Images WHERE ImageID=@id"
        requireImageExtension="false" 
        cacheUnmodifiedFiles="true"
        extensionPartOfId="false"
        vpp="true"
        untrustedData="false" />
      
    <disabled name="CloudFront" />
      
    <disabled name="AzureReader"
        connectionString="ConnectionKeyName"
        endpoint="http://-account-.blob.core.windows.net/" />
      
    <disabled name="MongoReader"
        prefix="gridfs"
        connectionString="mongodb://user:password@servername/database" />
      
    <disabled name="RemoteReader" />
  </plugins>
  
  
<!--
    <clientcache minutes="1440" />
-->
    
<!--
  <sizelimits
    imageWidth="0"
    imageHeight="0"
    totalWidth="3200"
    totalHeight="3200"
    totalBehavior="throwexception"
  />
-->
    
<!--
  <presets onlyAllowPresets="false">
    <preset name="thumb" settings="width=100&amp;height=100&amp;mode=crop&amp;quality=95&amp;format=jpg" />
  </presets>
-->
</resizer>
